@import "tailwindcss";
@layer utilities {
  .font-urbanist {
    font-family: "Urbanist", sans-serif;
  }
}

@layer utilities {
  .font-cormorant {
    font-family: "Cormorant Upright", serif;
  }
}

@layer utilities {
  .font-Poppins {
    font-family: "Poppins", sans-serif;
  }
}
